<!DOCTYPE>
<html>
<head>
  <script src="/lib/jquery-2.2.4.js"></script>
  <script src="/lib/underscore.js"></script>
  <script src="/lib/backbone.js"></script>

  <script>
    var appleData = [
      {
        name: 'fuji',
        url: '/img/fuji.jpg'
      },
      {
        name: 'gala',
        url: '/img/gala.jpg'
      }
    ]

    var Apples = Backbone.Collection.extend({})

    var router = Backbone.Router.extend({
      routes : {
        '': 'home',
        'apples/:appleName': 'loadApple'
      },

      initialize: function() {
        var apples = new Apples()
        apples.reset(appleData)
        this.homeView = new homeView({collection: apples})
        this.appleView = new appleView({collection: apples})
      },

      home: function() {
        //this.homeView = new homeView
        this.homeView.render()
      },

      loadApple: function(appleName) {
        //this.appleView.render(appleName)
        this.appleView.loadApple(appleName)
      }
    })

    var homeView = Backbone.View.extend({
      el: 'body',
      template: _.template('Apple data: <%= data %>'),
      render: function() {
        this.$el.html(this.template({data: JSON.stringify(this.collection.models)}))
      }
    })

    var appleView = Backbone.View.extend({
      initialize: function() {
        this.model = new (Backbone.Model.extend({}))
        this.model.bind('change', this.render, this)
        this.bind('spinner', this.showSpinner, this)
      },
      template: _.template(
        '<figure> \
          <img src="<%= attributes.url %>"/> \
          <figcaption><%= attributes.name %></figcaption> \
         </figure>'
      ),
      templateSpinner: '<img src="/img/spinner.gif" width="30" />',
      loadApple: function(appleName) {
        this.trigger('spinner')
        var view = this
        setTimeout(function() {
          view.model.set(view.collection.where({name: appleName})[0].attributes)
        }, 1000)
      },
      showSpinner: function() {
        $('body').html(this.templateSpinner)
      },
      render: function(appleName) {
        //var appleModel = this.collection.where({name: appleName})[0]
        var appleHtml = this.template(appleModel)
        $('body').html(appleHtml)
      }
    })


    var app

    $(document).ready(function() {
      app = new router
      Backbone.history.start()
    })
  </script>
</head>
<body>

</body>
</html>
